*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    background: #363686;
}

#survey-form{
    width: 700px;
    border-radius: 5px;
    background-color: #7574bc;
    color: #f1f1f1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
}

#title, #description{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#title{
    font-size: 2.5rem;
}

.label{
    text-transform: uppercase;
    margin: 1em 0 0.3em;
}

input, textarea, select, button{
    padding: 1em;
    resize: none;  
    color: #282746;
}

input:focus, 
textarea:focus{
    outline: none;
}

#submit{
    background-color: #574e8e;
    color: #f1f1f1;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    transition: opacity 200ms ease-in-out;
}

#submit:hover{
    opacity: 0.8;
}



